<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Student management system</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
            crossorigin="anonymous"></script>
</head>
<body>
<nav class="navbar bg-dark border-bottom border-body" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Student management system</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#" th:href="@{/students/new}">News
                        student</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<br>
<br>
<br>
<div class="container">
    <div class="row">
        <h1>List of student</h1>
    </div>
    <table class="table table-striped table-hover table-bordered">
        <thead>
        <tr>
            <th>Student first name</th>
            <th>Student last name</th>
            <th>Student email</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="student : ${students}">
            <td th:text="${student.firstname}"></td>
            <td th:text="${student.lastname}"></td>
            <td th:text="${student.email}"></td>
            <td>
                <a class="btn btn-primary" th:href="@{/students/{studentID}/edit(studentID=${student.id})}">Edit</a>
                <a class="btn btn-danger" th:href="@{/students/{studentID}/delete(studentID=${student.id})}">Delete</a>
                <a class="btn btn-info" th:href="@{/students/{studentID}/view(studentID=${student.id})}">View</a>
            </td>
        </tr>
        </tbody>

    </table>
</div>
</body>
</html>